NEXT_PUBLIC_API_URL=http://localhost:8080/api/v1

NEXT_PUBLIC_ENABLE_MOCK_AUTH=true

NEXT_PUBLIC_COGNITO_REDIRECT_URI=http://localhost:3000/api/auth/callback
NEXT_PUBLIC_COGNITO_LOGOUT_REDIRECT_URI=http://localhost:3000/

NEXT_PUBLIC_AWS_REGION=ap-northeast-1

NEXT_PUBLIC_COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxx
NEXT_PUBLIC_COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxxxxxxxx
NEXT_PUBLIC_COGNITO_DOMAIN=xxxxxxxx.auth.ap-northeast-1.amazoncognito.com