export AWS_REGION=ap-northeast-1

export API_URL=https://xxxxxxxx.execute-api.ap-northeast-1.amazonaws.com

export BASTION_INSTANCE_ID=i-xxxxxxxxxxxxx

export RDS_ENDPOINT=xxxxxxxx.ap-northeast-1.rds.amazonaws.com

export FRONTEND_URL=https://xxxxxxxx.cloudfront.net

export COGNITO_CLIENT_ID=xxxxxxxxxxxxxxxxxxxx

export COGNITO_USER_POOL_ID=ap-northeast-1_xxxxxxxxx

export CLOUDFRONT_DISTRIBUTION_ID=EXXXXXXXXXXXXX

