# ============================
# Go build artifacts
# ============================
bin/
tmp/
*.exe
*.out

# ============================
# Env
# ============================
.env
.env*
!.env.example
# ============================
# Logs
# ============================
*.log

# ============================
# OS
# ============================
.DS_Store
