# ============================
# Go build artifacts
# ============================
bin/
tmp/
*.exe
*.out

# ============================
# Env
# ============================
.env
.env.*

# ============================
# Logs
# ============================
*.log

# ============================
# OS
# ============================
.DS_Store
